body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://wallpaperaccess.com/full/1250941.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-opacity {
  opacity: 90%;
}

.table-row {
  background-color: #faebd7;
}

.ant-table-thead .ant-table-cell {
  background-color: #efdecd !important;
}

.ant-table-cell-row-hover {
  background-color: #efdecd !important;
}

.ant-slider-handle::after {
  background-color: #303030 !important;
}